@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aprendizado Entity Framework</h1>
</div>

<div>Materiais</div>
<ul>
    <li>Documentação: <a href="https://www.learnentityframeworkcore.com" target="_blank">Entity Framework</a></li>
</ul>